@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {

  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', sans-serif;

  --color-cool-gray-50: #F5F6FA;
  --color-cool-gray-100: #CFD8DD;
  --color-cool-gray-200: #B0BFC6;
  --color-cool-gray-300: #90A4AD;
  --color-cool-gray-400: #78909C;
  --color-cool-gray-500: #5F7D8B;
  --color-cool-gray-600: #3C4F57;
  --color-cool-gray-700: #182024;

  --color-primary-50: #E4F4FC;
  --color-primary-100: #B3E6FC;
  --color-primary-200: #81D5FA;
  --color-primary-300: #4FC3F7;
  --color-primary-400: #28B6F6;
  --color-primary-500: #0188D0;
  --color-primary-600: #00669D;
  --color-primary-700: #00446A;
  --color-primary-800: #002337;

  --color-red-100: #FFCDD2;
  --color-red-200: #EE9A9A;
  --color-red-300: #E57373;
  --color-red-400: #EF5350;
  --color-red-500: #F54236;
  --color-red-600: #C2342A;

  --color-green-100: #A8D4B9;
  --color-green-200: #6BBE8A;
  --color-green-300: #4A996C;
  --color-green-400: #2E7E5D;
  --color-green-500: #175433;
  --color-green-600: #123124;

}

body {
  font-family: var(--font-roboto);
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-cool-gray-100);
  border-radius: 10px;
}

:focus {
  outline: 1px solid var(--color-primary-500);
}

.ProseMirror {
  outline: none;
}